body {
  &.lock {
    overflow: hidden;
  }

  user-select: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: rgb(199, 88, 136);
  background: linear-gradient(0deg, rgba(199, 88, 136, 1) 0%, rgba(76, 116, 163, 1) 100%) no-repeat;
}

.container {
  max-width: ($containerWidth + $containerPaddingDefault) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 ($containerSidePaddingDefault + px);
}
