.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  white-space: nowrap;
  text-decoration: none;
  transition: 0.3s;
  user-select: none;
  padding: 0;
  cursor: pointer;
  
  &_engine {
    border-radius: 5px;
    padding: 7px 5px;
    &_start {
      border: 2px solid #2fa92f;
    }
    &_stop {
      border: 2px solid #cb3e3e;
    }
  }

  &_popup {
    padding: 7px 21px;
    color: white;
    transition: all .3s ease 0s;
    border: 1px solid white;
    border-radius: 10px;

    &:hover {
      background-color: white;
      color: #93588c;
    }
  }
}
